section.about#about
	.primary-title
		
		{% include icons/icon-left-squiggle.html %}

		h1 About me
		
		{% include icons/icon-right-squiggle.html %}

	.about-wrap
		.avatar
			strong something
		.bio
			p Hey everyone! My name is <strong>Lara Gayle Taschner</strong>. I am thirty years old, married, and mother of two sons, Weston, age four and Ronan, 10 months. One of my favorite things to do as a mom is introduce my son’s to new and exciting ways to express themselves, including painting. Weston is often right by my side painting as I work on my creations.

			p From an early age I enjoyed art. Though it was with crayons and construction paper, imagining things on paper became a big part of my life. In eighth grade, my parents got me an acrylic paint set and I started to experiment with paint and color. Acrylic paint is now my medium of choice.

			p My lifes journey has included addiction, abuse, cancer, loss, miscarriages, anxiety, depression, and most recently my youngest sons medical obstacles. But my worst day clean still beats my best day drinking. I love my life in recovery. There has been a lot of changes throughout my story, however, the two consistent pieces have always been my faith in God and my love for painting.

			p I am currently in my master’s program for psychology but for me painting and psychology go hand–in-hand. My hope is that my future patrons and therapy clients can find a place in their imaginations that is colorful and safe.


		{% include doodles/snail.html %}