section.contact#contact
	.contact-wrap
		.contact-form-wrap
			.secondary-title
			
				{% include icons/icon-left-squiggle.html %}

				h1 Say Hello
				
				{% include icons/icon-right-squiggle.html %}

			form.say-hello
				input(placeholder="Name")
				input(placeholder="Email")
				textarea(placeholder="Say Hello!")