section.gallery#gallery
	.gallery-stage-container
		.gallery-stage
			.secondary-title
				
				{% include icons/icon-left-squiggle2.html %}
				
				h1 Paintings
				
				{% include icons/icon-right-squiggle2.html %}


			//- Control & Content Container
			.control-content-container
				a(href="#" class="controls") 
					
					{% include icons/icon-left-control.html %}

				
				.stage-content-wrap
					img(src="assets/img/gallery/paintings/randiz/randiz-full.png", alt="").painting-full
					.painting-info
						.painting-title
							h3 randiz
						.painting-dim
							h4 8 x 8

				a(href="#" class="controls")

					{% include icons/icon-right-control.html %}

			.stage-close-button.stage-toggle
				span


	.gallery-thumb-wrap
		
		.primary-title
		
			{% include icons/icon-left-squiggle.html %}

			h1 Paintings
			
			{% include icons/icon-right-squiggle.html %}			
			

		a(href="#gallery" class="thumb-unit stage-toggle")