section.gallery
	.gallery-stage.gallery-open
		.secondary-title
			h1 Paintings
		.close-gallery
		.painting-slider
			.left-arrow
			.painting-full
			.right-arrow
			.painting-info
				.painting-title
				.painting-dim

	.gallery-thumb-wrap
		.primary-title
			h2 Paintings
		.thumb-unit