mixin nav-content()
	a(href="#") Gallery
	a(href="#") About
	a(href="#") Contact

nav.mobile-nav.is-open
	+nav-content()

header.main-header
	.header-wrap
		.logo-nav-wrap
			.logo
				h1 Lara Gayle

			nav.main-nav
				+nav-content()

			.mobile-nav-toggle
				span


		

		

	