mixin nav-content()
	a(href="#gallery" id="gallery-link") Gallery
	a(href="#about" id="about-link") About
	a(href="#contact" id="contact-link") Contact

nav.mobile-nav.is-open
	+nav-content()

header.main-header#header
	.header-wrap
		.logo-nav-wrap
			.logo
				a(href='#header')
					h1 Lara Gayle

			nav.main-nav
				+nav-content()

			.mobile-nav-toggle
				span


		

		

	