// Gallery /////////////////////////////////////////////////////////////////

.gallery
	// background: green
	width: 100%





	// Gallery Stage Container //////////////////////////////////////////////////

	.gallery-stage-container
		background-image: url('../img/gallery/gallery_wood_bg.jpg')
		background-position: top center
		background-repeat: no-repeat
		background-size: cover
		max-height: 0
		overflow: hidden
		transition: all .5s ease-in-out
		


		// Gallery Stage //////////////////////////////////////////////////

		.gallery-stage
			+clearfix
			// background: orange
			max-width: 800px
			margin: 0 auto
			padding: 50px 5px

			// Stage Painting Title //////////////////////////////////////

			.secondary-title
				@include primary-title-base

				h1
					@include secondary-title-h1

				.secondary-left-squiggle, .secondary-right-squiggle
					fill: $secondary-squiggles

			@media (max-width: 500px)
				.secondary-title
					padding: 25px 0
					max-width: 300px
					
					h1
						font-size: 45px

					svg
						width: 75px 
			// End Stage Painting Title //////////////////////////////////
			
			// Close Stage //////////////////////////////////////////////

			.stage-close-button
				border: 2px solid $text-color
				border-radius: 100px
				float: right
				height: 35px
				width: 35px
				cursor: pointer
				padding: 5px
				margin: 0 10px 15px 0
				opacity: .75
				transition: all .5s ease

				span
					position: relative
					content: ""
					display: block
					height: 2px
					width: 100%
					background: $text-color
					transform-origin: center
					transform: rotate(45deg)
					top: 17px

				span:after
					position: relative
					content: ""
					display: block
					height: 2px
					width: 100%
					background: $text-color
					transform-origin: center
					transform: rotate(90deg)

				&:hover
					opacity: 1
					transform: rotate(90deg)



			// End Close Stage ///////////////////////////////////////////

			// Control & Content Container ///////////////////////////////
			
			.control-content-container
				// background: violet
				width: 100%
				margin: 0 auto
				

			// End Control & Content Container //////////////////////////////
			
			// Controls /////////////////////////////////////////////////

			.controls
				@include controls

			// End Controls //////////////////////////////////////////////

			// Gallery Content ///////////////////////////////////////////

			.stage-content-wrap
				// background: red
				max-width: 700px
				margin: 0 auto
				text-align: center


				.painting-full
					padding: 0
					margin: 0
					width: 100%
					max-width: 510px

					// background: salmon


				.painting-info
					display: flex
					align-items: center
					flex-direction: column

					h3
						// background: pink
						color: $text-color
						font-family: $primary-font
						font-weight: 600
						font-size: 56px
						text-transform: uppercase
						margin: 0
						padding: 0
						border-bottom: 2px solid $text-color

					h4
						// background: pink
						color: $text-color
						font-family: $primary-font
						font-weight: 400
						font-size: 38px
						letter-spacing: 2px
						text-transform: uppercase

						margin: 0
						padding: 0

				@media (max-width: 500px)
					.painting-info
						
						h3
							font-size: 40px
				// End Gallery Content ///////////////////////////////////////


			// End Gallery Stage /////////////////////////////////////////////



	.stage-open
		max-height: 1038px
		



	// Gallery Thumb Area /////////////////////////////////////////////

	.gallery-thumb-wrap
		// background: lightblue
		max-width: 900px
		padding: 50px 15px 80px 15px
		margin: 0 auto
		+clearfix



		.primary-title
			@include primary-title-base

			h1
				@include primary-title-h1


			.primary-left-squiggle,
			.primary-right-squiggle
				fill: $primary-squiggles

		@media (max-width: 500px)
				.primary-title
					padding: 25px 0
					max-width: 300px
					
					h1
						font-size: 45px

					svg
						width: 75px


		.title-off
			display: none
			
		.thumb-unit
			// background-image: url("http://fillmurray.com/400/300")
			background-position: center center
			background-repeat: no-repeat
			background-size: cover

			float: left
			width: 33%
			display: block

			position: relative
			padding-top: 20%
			overflow: hidden
			
			perspective: 300px


			.thumb-overlay
				position: absolute
				top: -100%
				right: 0px
				left: 0px
				height: 100%;
				background: rgba(255, 68, 62, 1)

				transition: all .5s ease-in-out
				text-align: center
				display: flex
				align-items: center
				justify-content: space-around
				transform: rotate(-180deg)
				transform-origin: top left
				opacity: 0;

			strong, p
				display: block
				padding: 0px 20px
				color: $text-color
				font-size: 24px
				text-transform: uppercase

		

			&:hover .thumb-overlay
				background: rgba(138, 67, 132, .75)
				position: absolute
				top: 0%
				transform: rotateY(0deg)
				transform: size(50px)
				opacity: 1;

		
		
		@media (max-width: 768px)
			.thumb-unit
				width: 50%
				padding-top: 30%

			:last-child
				width: 100%

		.stage-open-title
			padding-top: 50px
			display: none
			opacity: 0


	// Gallery Thumb Area /////////////////////////////////////////////




// End Gallery ////////////////////////////////////////////////////////////




