$primary-color: #ff4e3e
$text-color: #f3f3f3
$text-color2: #ff4e3e
$accent-color: #8a4384
$bg-color: #F6F6F8
$link-color: $text-color2
$selection-color: #ff4e3e

$primary-font: Open sans, sans serif
$secondary-font: Vibur, sans serif

// Nav styles
$nav-letter-space: 2px
$nav-font-size: 18px

// Primary Titles

	

// Secondary Title
@mixin secondary-title-base
	text-align: center
	max-width: 450px
	margin: 0 auto
	padding: 30px 0 0 0
	+clearfix
		
@mixin secondary-title-h1
	font-weight: 400
	color: $text-color
	font-family: $secondary-font
	margin: 0 0
	
@mixin secondary-title-before
	float: left
	display: block
	background-image: url('../img/gallery/secondary_left_squiggle.png')
	content: ""
	width: 112px
	height: 30px
	transform: translateY(15px)

@mixin secondary-title-after
	float: right
	display: block
	background-image: url('../img/gallery/secondary_right_squiggle.png')
	content: ""
	width: 112px
	height: 30px
	transform: translateY(15px)