$primary-color: #ff4e3e
$text-color: #f3f3f3
$text-color2: #ff4e3e
$accent-color: #8a4384
$bg-color: #F6F6F8
$link-color: $text-color2
$selection-color: #ff4e3e

$primary-font: Open sans, sans serif
$secondary-font: Vibur, sans serif

// Nav styles
$nav-letter-space: 2px
$nav-font-size: 18px
